---
---

@import "{{ site.theme }}";

$headStartColor: #373737
$headEndColor: #212122
div#header_wrap {
    background: $headEndColor;
    background: -moz-linear-gradient(top, $headStartColor, $headEndColor);
    background: -webkit-linear-gradient(top, $headStartColor, $headEndColor);
    background: -ms-linear-gradient(top, $headStartColor, $headEndColor);
    background: -o-linear-gradient(top, $headStartColor, $headEndColor);
    background: linear-gradient(to top, $headStartColor, $headEndColor);
}
