---
---

@import "{{ site.theme }}";

div#header_wrap {
    background: #6cfffa;
    background: -moz-linear-gradient(top, #ffffff, #6cfffa);
    background: -webkit-linear-gradient(top, #ffffff, #6cfffa);
    background: -ms-linear-gradient(top, #ffffff, #6cfffa);
    background: -o-linear-gradient(top, #ffffff, #6cfffa);
    background: linear-gradient(to top, #ffffff, #6cfffa);
}
