---
---

@import "{{ site.theme }}";

div#header_wrap {
    background: #21f2ea;
    background: -moz-linear-gradient(top, #eac4c4, #21f2ea);
    background: -webkit-linear-gradient(top, #eac4c4, #21f2ea);
    background: -ms-linear-gradient(top, #eac4c4, #21f2ea);
    background: -o-linear-gradient(top, #eac4c4, #21f2ea);
    background: linear-gradient(to top, #eac4c4, #21f2ea);
}
